.container {
  display: grid;
  grid-template-columns: 1fr 2fr; 
  /* fractal passed in, 1st column gets a third, second column gets 2 thirds  */
  grid-template-areas: sidebar main-section;
  
}

aside {
  grid-column: 1;
  grid-area: sidebar;
}

main {
  grid-column: 2;
  grid-area: main-section;
}